<!-- I think this one is old. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Story</title>
  </head>

  <body>
    <h1>Edit Story</h1>
    <form action="/fiction/<%=story._id%>?_method=PUT" method="POST">
      <div>
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="story[title]"
          value="<%=story.title %>"
        />
      </div>
      <div>
        <label for="tags">Tags</label>
        <input
          type="text"
          id="tags"
          name="story[tags]"
          value="<%= story.tags%>"
        />
      </div>
      <button>Update Story</button>
    </form>
    <a href="/fiction/<%= story._id%>">Back To Story</a>
  </body>
</html>
Footer
