<% layout('layouts/boilerplate')%>
<div class="all-content-wrapper">

<div class="row justify-content-center">
  <div class="col-md-6 mx-auto">
    <div class="card shadow">
      <div class="card-body">
        <h1 class="text-center" id="document-title">New Story</h1>

        <form
          action="/fiction"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              id="title"
              name="story[title]"
              maxlength="200"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <p id="similar-titles"></p>
          <div class="mb-3">
            <label class="form-label" for="Author">Author</label>
            <input
              class="form-control"
              type="text"
              id="author"
              maxlength="200"
              name="story[author]"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <fieldset>
              <legend class="small text-center">
                Pick at least one tag and at most 4 tags for this story
              </legend>
              <div class = "genre-wrapper d-flex flex-column  flex-wrap"> 
              <% for (let tag of genreList) {%>
                  <div class="form-check">
                    <input
                    class="form-check-input tag-check checkbox-large"
                    type="checkbox"
                    id= "<%=tag%>"
                    name="story[tags]"
                    value= "<%=tag%>"
                    required
                  />
                  <label class="form-check-label" for="<%=tag%>"><%=tag%></label>
                  </div>
               
              <%}%>
            </div>
            </fieldset>

            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <!-- <label class="form-label" for="image">Image URL</label>
        <input
          class="form-control"
          type="text"
          id="image"
          name="campground[image]"
          required
        /> -->
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="link">Story link <br/> (The url must start with http:// or https://)</label>

            <div class="input-group mb-3">
              <input
                type="url"
                class="form-control"
                id="link"
                placeholder=""
                aria-label="link"
                maxlength="2000"
                aria-describedby="link-label"
                name="story[link]"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">The link must be a valid url starting with http:// or https://</div>

            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="Description">Author's Summary</label>
            <textarea
              class="form-control"
              type="text"
              id="description"
              maxlength="4000"
              minlength="1"
              rows="10"
              required
              name="story[description]"
            ></textarea>
            <div class="valid-feedback">Looks good!</div>

          </div>

          <label class="form-label" for="inputGroupFile02">Cover art*</label>

          <div class="input-group mb-3">
            <input
              type="file"
              class="form-control"
              id="inputGroupFile02"
              name="image"
              multiple
              accept=".jpg,.jpeg,.png"
            />
          </div>
          <p id="image-error" class="text-danger" style="display: none">You cannot upload more than 5 files.</p>

          <small>*Max file size is 10 MB. You cannot upload more than 5 files.  The file must be a .jpeg, .jpg, or .png</small>
          <p></p>

          <div class="mb-3 d-flex justify-content-between">
            <button type = "button" class="btn btn-info"><a class="text-decoration-none" style = "color: black" href="/fiction">Cancel </a></button>

            <button class="btn btn-success">Add Story</button>

          </div>
        </form>
      </div>

    </div>
    <br>

  </div>
</div>
</div>
<script src="/javascripts/storyClientsideValidation.js"></script>