<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Web Fiction Reviews</a>
    
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/fiction">Stories List</a>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Genres
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% for (genre of genreList) {%>
            <li>
              <a class="dropdown-item" href="/fiction/genres/<%=genre%>"
                ><%=genre%></a
              >
            </li>

            </li>
            <%}%>
          </ul>
        </li>
        <a class="nav-link" href="/guidelines">Guidelines</a>
        <a class="nav-link" href="/fiction/new">Add Story</a>

      </div>
    
      <div class="navbar-nav ms-auto">
        <form class="d-flex" method = "GET" action = "/fiction" id = "searchForm">
          <input class="form-control me-2" name = "search" type="search" placeholder="Search by title" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <% if (!currentUser) { %>
        <a class="nav-link" aria-current="page" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
        <%} else {%>
            <a class="nav-link" href="/logout">Logout</a>
        <%}%>
      </div>
    </div>
  </div>
</nav>
<script>
  const searchForm =  document.querySelector("#searchForm");
  const searchInput =   document.querySelector("#searchForm input");
  searchForm.addEventListener('submit', (e) => {
    e.preventDefault();
    
    searchForm.action = `/fiction/search/${searchInput.value}`;
    if (searchInput.value.trim().length > 0) {
      window.location.href = `${searchForm.action}`;

    }

  })
  
</script>