<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title >Web Fiction Reviews</title>
    <link
    rel="icon"
    type="image/x-icon"
    href="/images/webfiction-favicon-no-background.ico"
  />
  

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/home.css" />
  </head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2005HZ71DL" nonce="<%= nonce %>"></script>
<script nonce="<%= nonce %>">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2005HZ71DL', { storage: "none" });
</script>

  <body class="text-white bg-dark">
    <%-include('./partials/navbar')%>
    <div class=" text-center everything-else d-flex">
      
      <main class="px-3 col-8 offset-2">
        <h1 class="welcome" >Welcome to Web Fiction Reviews!</h1>
        <p class="lead">
         We list and review original fiction posted online.

        </p>
        <a href="/fiction" class="btn btn-lg btn-secondary font-weight-bold mb-3"
          >View All Stories</a
        >
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    
<script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
    <script src="/javascripts/navSearch.js"></script>

  </body>
</html>
